# Server Configuration
PORT=5000

# MongoDB Configuration
MONGODB_URI=mongodb+srv://journeythroughladakh_db_user:Vvxg0OClGnuEomtP@journeythroughladakh.qmdtxhj.mongodb.net/?appName=journeythroughladakh

# CORS Configuration (optional)
# CLIENT_URL=http://localhost:5173
